# ignore build files
*.in
*/*.in
configure
compile
depcomp
install-sh
missing
autom4te.cache/
aclocal.m4
*.swp
*.o
*.lo
*.a
*.la
Makefile
.deps/
/config.h
/config.log
/configure.log
/config.status
/stamp-h1
/auxfiles/compile
/auxfiles/config.guess
/auxfiles/config.sub
/auxfiles/depcomp
/auxfiles/install-sh
/auxfiles/missing
/libtool
/GIT_VERSION
*~
SGA/sga
