# ignore build files
*.in
*/*.in
configure
autom4te.cache/
aclocal.m4
*.swp
depcomp
install-sh
missing
build*
*.o
*.lo
*.a
*.la
Makefile
.deps/
/config.h
/config.log
/configure.log
/config.status
/stamp-h1
config.guess
config.sub
/libtool
/*.kdev*
*~
